<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="online_learning" connectionString="Data Source=127.0.0.1;Initial Catalog=online_learning; User Id=lokesh; Password=lokesh@123; charset=utf8;" providerName="System.Data.MySql"/>
    <!--<add name="online_learning" connectionString="Data Source=localhost;Initial Catalog=swiftele_online_learning; User Id=swift_online; Password=online123!@#; charset=utf8;" providerName="System.Data.MySql" />-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="enc_qrystring_key" value="HQBZQP8h76T4BNKLV"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<httpModules>
      <add type="QueryStringModule" name="QueryStringModule" />
    </httpModules>-->
    <customErrors mode="RemoteOnly" defaultRedirect="error_default.html">
      <error statusCode="401" redirect="error_default.html"/>
      <error statusCode="403" redirect="error_default.html"/>
      <error statusCode="404" redirect="error_default.html"/>
      <error statusCode="405" redirect="error_default.html"/>
      <error statusCode="406" redirect="error_default.html"/>
      <error statusCode="412" redirect="error_default.html"/>
      <error statusCode="500" redirect="error_default.html"/>
      <error statusCode="501" redirect="error_default.html"/>
      <error statusCode="502" redirect="error_default.html"/>
    </customErrors>
    <sessionState timeout="600"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="360"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
  </system.webServer>
</configuration>